body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #5a8fe0, #8d6adf);
    font-family: "Segoe UI", Arial, sans-serif;
}

.login-card {
    background: #ffffff;
    padding: 55px 60px 45px;
    border-radius: 22px;
    width: 460px;
    box-shadow: 0 18px 40px rgba(0,0,0,0.3);
    position: relative;
}


.login-card::before {
    content: "";
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    background: #ededed;
    border-radius: 50%;
}


.login-card::after {
    content: "";
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    background: #bcbcbc;
    border-radius: 50%;
    box-shadow: 0 42px 0 8px #bcbcbc;
}

.login-card h2 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 26px;
    font-weight: 600;
    color: #000;
}

table {
    width: 100%;
}

label {
    font-size: 16px;
    color: #666;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px 6px;
    font-size: 16px;
    outline: none;
    background: transparent;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-bottom-color: #7b5cff;
}

.btn {
    margin-top: 25px;
    width: 160px;
    padding: 10px;
    background: linear-gradient(to right, #1cc7d0, #9b2cf5);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.08);
}

.register-link {
    font-size: 15px;
    margin-top: 15px;
}

.register-link a {
    color: #9b2cf5;
    text-decoration: none;
    font-weight: 500;
}

.register-link a:hover {
    text-decoration: underline;
}
 .captcha-box {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #f3f3f3;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: fit-content;
}

.captcha-box span {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    min-width: 20px;
    text-align: center;
}

.captcha-box input {
    width: 60px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #aaa;
}

.refresh-btn {
    background: #007bff;
    border: none;
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.refresh-btn:hover {
    background: #0056b3;
}

.error-text {
    color: red;
    font-size: 13px;
    margin-top: 4px;
    display: block;
}
